NODE_ENV=production
APP_URL=http://localhost:3000
APP_NAME="Parking Rental App"

SESSION_SECRET=change-moi-avec-une-valeur-longue-et-aleatoire-minimum-32-caracteres

POSTGRES_DB=parking_rental
POSTGRES_USER=parking_user
POSTGRES_PASSWORD=change-moi

DATABASE_URL=postgresql://parking_user:change-moi@postgres:5432/parking_rental?schema=public

ADMIN_EMAIL=admin@example.local
ADMIN_PASSWORD=ChangeMoi123!
ADMIN_NAME=Administrateur
